rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /trips/{tripId}/files/{allPaths=**} {
      allow read:   if request.auth != null;
      allow create: if request.auth != null;
      allow delete: if request.auth != null;
    }
  }
}
